<form class="container">
  <div class="form-group row">
      <label for="inputTeamLeader" class="col-2 col-form-label">Team Leader Name</label>
      <div class="col-10">
          <input formControlName="eventId" class="form-control" type="text" placeholder="Team Leader Name" id="inputTeamLeader">
      </div>
  </div>

    <div class="form-group row">
        <label for="inputTeamName" class="col-2 col-form-label">Team Name</label>
        <div class="col-10">
            <input formControlName="eventId" class="form-control" type="text" placeholder="Team Name" id="inputTeamName">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputTeamContact" class="col-2 col-form-label">Team Leader Contact</label>
        <div class="col-10">
            <input formControlName="eventId" class="form-control" type="tel" placeholder="Team Leader Contact" id="inputTeamContact">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputTeamemail" class="col-2 col-form-label">Team Leader Email</label>
        <div class="col-10">
            <input formControlName="eventId" class="form-control" type="text" placeholder="Team Leader Email" id="inputTeamemail">
        </div>
    </div>

    <div class="form-group row">
        <label for="inputTeammember" class="col-2 col-form-label">Team Member</label>
        <div class="col-10">
            <textarea class="form-control" id="inputTeammember" rows="11" placeholder="Team Member"></textarea>
        </div>
    </div> 
  
  <br>
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <input id="s-btn" class="btn btn-primary" type="submit" value="Submit">  
        </div>
    </div>
</form>
